/* Variables & Mixins */

@import 'colors';
@import 'mqs';


/* General SCSS */

body {
	margin: 1em;
	padding: 0;
	font-family: Helvitica, Roboto, Arial, sans-serif;
	text-align: center;
}

table {
	width: 100%;
	text-align: left;
	max-width: 1920px;
	margin: 0 auto;
	display: block;
	overflow-x: auto;
	@include mq(tablet) {
	}
	@include mq(desktop) {
		display: table;
		overflow-x: none;
	}
	td, th {
		padding: 1em;
		border: 0;
		vertical-align: top;
		ul {
			margin: 0;
			padding-left: 15px;
		}
	}
	thead  {
		position: sticky;
		top: 0; 
	  	box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.4);
		th {
			background: white;
			border: 1px solid #bbb;
		}
	}
} 
.nowrap {
	white-space: nowrap;
}
.people {
	width: 100%;
	max-width: 320px;
	height: auto;
}


/* CSS Trricks */

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: " "; font-weight: bold; text-wrap: nowrap; }
		td:nth-of-type(2):before { content: " "; font-weight: bold; text-wrap: nowrap; }
		td:nth-of-type(3):before { content: "Overall Framework / Mechanism"; font-weight: bold; text-wrap: nowrap; }
		td:nth-of-type(4):before { content: "UX Metrics"; font-weight: bold; text-wrap: nowrap; }
		td:nth-of-type(5):before { content: "Data source "; font-weight: bold; text-wrap: nowrap; }
		td:nth-of-type(6):before { content: "Frequency"; font-weight: bold; text-wrap: nowrap; }
		td:nth-of-type(7):before { content: "Data analysis "; font-weight: bold; text-wrap: nowrap; }
		td:nth-of-type(8):before { content: "Tool"; font-weight: bold; text-wrap: nowrap; }
		td:nth-of-type(9):before { content: "When to take action?"; font-weight: bold; text-wrap: nowrap; }
		td:nth-of-type(10):before { content: "Why it's important?"; font-weight: bold; text-wrap: nowrap; }
	}

// Specific table Styles //

.custom {
	td {
		// background: black !important;
		background: darken($kiwi, 25%) !important;
		color: white;
		a {
			color: white !important;
		}
	}
}

.redalert {
	padding-top: 10px;
    color: red;
    text-shadow: 0px 0px 5px rgb(255, 255, 255, 1);
    font-size: 1.5em;
    display: block !important;
}
.last-row {
	td {
		// border-bottom-color: #fff !important;
		// border-bottom-width: 2px !important;
	}
}
.question {
	font-weight: bold;
	.fa-regular, .fa-solid {
		padding-bottom: 10px;
		color: gold;
		text-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
		font-size: 1.5em;
		display: block;
	}
}
.thead1 {
	background: #eee;
}
.thead2 {
	background: #ddd;
}
.thead3 {
	background: #eee;
}

h1 {
	display: inline-block;
	line-height: 150%;
	font-size: 1.5em;
	@include mq(tablet) {
		font-size: 2.55em;
	}
	@include mq(desktop) {
		font-size: 3em;
	}
}
.bbwrap {
	background: black;
	padding: 0.25em 0.5em;
	color: white;
}

/* Row Coloration */

.fa-book-open {
	color: #a3cafd;
}
@mixin fawesome() {
	font-size: 5em;
	padding: 0.25em 0 0 0;
	text-shadow: 5px 5px 10px rgb(70, 28, 117, 0.25);
}

.lavender {
	background: $lavender !important;
	color: white;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	.fa-regular, .fa-solid {
		@include fawesome;
	}
}
.lavender-row td {
	background: lighten($lavender, 15%);
	border: 1px solid $lavender;
}
.lavender-row:nth-child(odd) td {
	background: lighten($lavender, 25%);
}

.blue {
	background: $blue !important;
	color: white;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	.fa-regular, .fa-solid {
		@include fawesome;
	}
}
.blue-row td {
	background: lighten($blue, 15%);
	border: 1px solid $blue;
}
.blue-row:nth-child(odd) td {
	background: lighten($blue, 25%);
}

.sinopia {
	background: $sinopia !important;
	color: white;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	.fa-regular, .fa-solid {
		@include fawesome;
	}
}
.sinopia-row td {
	background: lighten($sinopia, 15%);
	border: 1px solid $sinopia;
}
.sinopia-row:nth-child(odd) td {
	background: lighten($sinopia, 25%);
}

.sky {
	background: $sky !important;
	color: white;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	.fa-regular, .fa-solid {
		@include fawesome;
	}
}
.sky-row td {
	background: lighten($sky, 15%);
	border: 1px solid $sky;
}
.sky-row:nth-child(odd) td {
	background: lighten($sky, 25%);
}

.kiwi {
	background: $kiwi !important;
	color: white;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	.fa-regular, .fa-solid {
		@include fawesome;
	}
}
.kiwi-row td {
	background: lighten($kiwi, 15%);
	border: 1px solid $kiwi;
}
.kiwi-row:nth-child(odd) td {
	background: lighten($kiwi, 25%);
}

.minion {
	background: $minion !important;
	color: white;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	.fa-regular, .fa-solid {
		@include fawesome;
	}
}
.minion-row td {
	background: lighten($minion, 15%);
	border: 1px solid $minion;
}
.minion-row:nth-child(odd) td {
	background: lighten($minion, 25%);
}

.saffron {
	background: $saffron !important;
	color: white;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	.fa-regular, .fa-solid {
		@include fawesome;
	}
}
.saffron-row td {
	background: lighten($saffron, 15%);
	border: 1px solid $saffron;
}
.saffron-row:nth-child(odd) td {
	background: lighten($saffron, 25%);
}

.lavender-text {
	color: $lavender;
}	
.blue-text {
	color: $blue;
}	
.sinopia-text {
	color: $sinopia;
}	
.sky-text {
	color: $sky;
}	
.kiwi-text {
	color: $kiwi;
}	
.minion-text {
	color: $minion;
}	
.saffron-text {
	color: $saffron;
}	